{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">

            <h3>Dodaj ogłoszenie</h3>
            {% if user %}
          <form action="/editAdvert" method="post">
              <input type="hidden" name="advertId" value="{{advert.key.id()}}">
            <h4>Tytuł ogłoszenia</h4>
             <p><input  value="{{advert.title}}" name="title" type="text" class="form-control"  aria-describedby="sizing-addon2" required></p>

            <h4>Tresc ogłoszenia</h4>
            <p><textarea  name="content" rows="3" cols="44" required>{{advert.content}}</textarea></p>

            <p>
                <input name="button" type="submit" class="btn btn-primary" value="Edytyj ">
            </p>
            </form>
          {% else %}
          <h4><span class="label label-danger">Aby dodawać ogłoszenia, musisz się zalogować</span></h4>
          {% endif %}

          </div>
      </div>
    </div>
  </div>

{% endblock %}