{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% autoescape true %}

    <!--{% for greeting in greetings %}-->
      <!--{% if greeting.author %}-->
        <!--<b>{{ greeting.author.email }}-->
          <!--{% if user and user.user_id() == greeting.author.identity %}-->
            <!--(You)-->
          <!--{% endif %}-->
        <!--</b> wrote:-->
      <!--{% else %}-->
       <!--An anonymous person wrote:-->
      <!--{% endif %}-->
      <!--<blockquote>{{ greeting.content }}</blockquote>-->
    <!--{% endfor %}-->

    <!--<form action="/sign?guestbook_name={{ guestbook_name }}" method="post">-->
      <!--<div><textarea name="content" rows="3" cols="60"></textarea></div>-->
      <!--<div><input type="submit" value="Sign Guestbook"></div>-->
    <!--</form>-->

    <!--<hr>-->

    <!--<form>Guestbook name:-->
      <!--<input value="{{ guestbook_name }}" name="guestbook_name">-->
      <!--<input type="submit" value="switch">-->
    <!--</form>-->

    <h4> {% if user %}Jestes zalogowany jako {{user}} {% endif %}<a href="{{ url|safe }}">{{ url_linktext }}</a></h4>



<!--<form action="/addAdvert" method="post">-->
  <!--<h4>Tytuł</h4>-->
  <!--<input name="advert-title" type="text" class="form-control"  aria-describedby="sizing-addon2">-->
  <!--<h4>Treść</h4>-->
<!--<textarea name="advert-content"></textarea>-->
    <!--<div><input type="submit" value="Dodaj ogloszenie"></div>-->
    <!--</form>-->


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">

            <h3>Dodaj ogłoszenie</h3>
            {% if user %}
          <form action="/addAdvert" method="post">
            <h4>Tytuł ogłoszenia</h4>
             <p><input name="advert-title" type="text" class="form-control"  aria-describedby="sizing-addon2" required></p>

            <h4>Tresc ogłoszenia</h4>
            <p><textarea name="advert-content" rows="3" cols="44" required></textarea></p>

            <p>
                <input type="submit" class="btn btn-primary" value="Dodaj ">
            </p>
            </form>
          {% else %}
          <h4><span class="label label-danger">Aby dodawać ogłoszenia, musisz się zalogować</span></h4>
          {% endif %}

          </div>
      </div>
    </div>
  </div>



<!--<div class="row">-->

<!--{% for greeting in greetings %}-->
  <!--<div class="col-sm-6 col-md-4">-->
    <!--<div class="thumbnail">-->
      <!--<div class="caption">-->

        <!--<h3>tytuł ogloszneia</h3>-->
        <!--{% if greeting.author %}-->
          <!--<p><small>autor: {{ greeting.author.email }}, dodano {{ greeting.date.strftime('%Y-%m-%d')}}</small></p>-->
          <!--{% endif %}-->
          <!--<p>Tresc ogloszenia</p>-->

        <!--<p>-->
            <!--<a href="#" class="btn btn-primary" role="button">Napisz maila</a>-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
    <!--{% endfor %}-->
<!--</div>-->

<div class="row">

{% for advert in adverts %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        {% if advert.author %}
        <h3>{{ advert.title }} {% if user and user.user_id() == advert.author.identity %}
            <small>
                <a href="/deleteAdvert?advertId={{ advert.key.id()}}">usun</a>
                <a href="/editAdvert?advertId={{ advert.key.id()}}">edytuj</a>
            </small> {% endif %}</h3>
          <p><small>autor: {{ advert.author.email }}, dodano {{ advert.date.strftime('%Y-%m-%d')}}</small></p>
          {% endif %}
          <p> {{ advert.content }} </p>

        <p>{% if user %}
            <a href="/mail?mail={{advert.author.email}}" class="btn btn-primary" role="button">Napisz maila</a>
            {% else %}
            Aby wysłać maila, musisz się zalogować
            {% endif %}
        </p>
      </div>
    </div>
  </div>
    {% endfor %}


</div>

{% endautoescape %}
{% endblock %}