{% extends "base.html" %}
{% block title %}Mail{% endblock %}

{% block content %}

        <form id="mail-form" class="form-horizontal" role="form" method="post" action="/mail" style="margin-top:20px">
            <h3 style="margin-left:200px">Wyślij maila</h3>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="toMail">Email odbiorcy</label>

                <div class="col-lg-4">
                    <input type="email" class="form-control" name="toMail" id="toMail" name="first_name"
                           value="{{mail}}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="subject">Temat</label>

                <div class="col-lg-4">
                    <input type="text" class="form-control" name="subject" id="subject" name="last_name"
                           value="RE: ogłoszenie" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="content">Treść</label>

                <div class="col-lg-4">
                    <textarea type="text" class="form-control" name="content" id="content" name="last_name"
                           value="3" rows="10" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-4">
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </div>
            </div>
        </form>


{% endblock %}